// Variables de colores para el tema claro
$md-theme-light-primary: #584BC8;
$md-theme-light-on-primary: #FFFFFF;
$md-theme-light-primary-container: #E4DFFF;
$md-theme-light-on-primary-container: #150066;
$md-theme-light-secondary: #5347D8;
$md-theme-light-on-secondary: #FFFFFF;
$md-theme-light-secondary-container: #E3DFFF;
$md-theme-light-on-secondary-container: #120068;
$md-theme-light-tertiary: #006973;
$md-theme-light-on-tertiary: #FFFFFF;
$md-theme-light-tertiary-container: #92F1FF;
$md-theme-light-on-tertiary-container: #001F23;
$md-theme-light-error: #BA1A1A;
$md-theme-light-error-container: #FFDAD6;
$md-theme-light-on-error: #FFFFFF;
$md-theme-light-on-error-container: #410002;
$md-theme-light-background: #FFFFFBFF;
$md-theme-light-on-background: #1C1B1F;
$md-theme-light-surface: #FFFFFBFF;
$md-theme-light-on-surface: #1C1B1F;
$md-theme-light-surface-variant: #E5E1EC;
$md-theme-light-on-surface-variant: #47464F;
$md-theme-light-outline: #787680;
$md-theme-light-inverse-on-surface: #F4EFF4;
$md-theme-light-inverse-surface: #313034;
$md-theme-light-inverse-primary: #C6C0FF;
$md-theme-light-shadow: #000000;
$md-theme-light-surface-tint: #584BC8;
$md-theme-light-outline-variant: #C9C5D0;
$md-theme-light-scrim: #000000;

// Variables de colores para el tema oscuro
$md-theme-dark-primary: #C6C0FF;
$md-theme-dark-on-primary: #280A9A;
$md-theme-dark-primary-container: #402FB0;
$md-theme-dark-on-primary-container: #E4DFFF;
$md-theme-dark-secondary: #C4C0FF;
$md-theme-dark-on-secondary: #2200A3;
$md-theme-dark-secondary-container: #3A29C0;
$md-theme-dark-on-secondary-container: #E3DFFF;
$md-theme-dark-tertiary: #4ED8E9;
$md-theme-dark-on-tertiary: #00363C;
$md-theme-dark-tertiary-container: #004F57;
$md-theme-dark-on-tertiary-container: #92F1FF;
$md-theme-dark-error: #FFB4AB;
$md-theme-dark-error-container: #93000A;
$md-theme-dark-on-error: #690005;
$md-theme-dark-on-error-container: #FFDAD6;
$md-theme-dark-background: #1C1B1F;
$md-theme-dark-on-background: #E5E1E6;
$md-theme-dark-surface: #1C1B1F;
$md-theme-dark-on-surface: #E5E1E6;
